@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #191c20;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 1em;
}

select {
    font-size: 16px;
    background: #23272b;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
    margin-left: 5px;
}

p {
    margin: 10px 0;
    line-height: 1.3em;
}

code {
    background: rgb(17, 27, 39);
    /* color: #90cdff; */
    padding: 1px 10px;
    border-radius: 5px;
}

pre {
    background: rgb(17, 27, 39);
    border-radius: 10px;
    padding: 10px;
}

li {
    margin: 9px 0 9px 15px;
}

.settings p {
    margin: -20px 0;
}

.input-chat {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.flex-box {
    display: flex;
    margin-top: 20px;
}
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px black;
    transition: ease all 1s;
}

.profile-pic:hover {
    transform: scale(1.25);
}

.btn {
    background: transparent;
    border: 1px #fff solid;
    border-radius: 10px;
    transition: ease all 0.5s;
    width: 80px;
    height: 30px;
    color: #fff;
}
.btn:hover {
    background: #191c20;
}
.btn:active {
    transform: scale(0.98);
}

.user-input {
    position: relative;
    bottom: 0;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
}

.chat-input {
    position: fixed;
    bottom: 20px;
    width: 80%;
    padding: 10px;
    left: 52%;
    transform: translateX(-50%);
}

.chatbox {
    margin: 10px auto;
    border-radius: 20px;
    padding: 20px;
    width: 1100px;
    height: 1145px;
    position: relative;
    z-index: 10;
    overflow-y: scroll;
}

.chatbox::-webkit-scrollbar {
    width: 0;
}

.chat-bubble {
    background-color: #4d5460;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    max-width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 10px 10px 30px black;
}

.user-chat {
    font-weight: 300;
    border-radius: 20px;
    margin-top: 30px;
    padding: 15px;
    width: 50%;
    margin-left: auto;
    background: #5b7370;
    box-shadow: 5px 5px 20px #0e0e0e;
    color: #fff;
}

.loading-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    animation: pulse 2s ease-in-out infinite;
    position: absolute;
    top: 30%;
    right: 70px;
    transform: translateY(-50%);
}

.settings-modal {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    transform: translateX(-55%);
    border: solid 1px #fff;
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    height: 150px;
    z-index: 1000;
    width: 1200px;
    color: #fff;
    left: 52%;
    top: 80%;
}

.settings {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100px;
    margin-left: 20px;
}

.tools {
    display: inline-block;
    color: #fff;
    position: absolute;
    font-size: 24px;
    top: 48%;
    left: -40px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Alignment */
.value-label {
    margin-left: 20px;
}

.width-40 {
    width: 20px;
    margin-left: 10px;
}

.tokens {
    margin-left: 700px;
    font-size: 0.8em;
    font-style: italic;
    color: #9ea0a7;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
}

input[type='range']::-moz-range-track {
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .chatbox {
        width: 100%;
        height: 80%;
    }
    .chat-bubble {
        width: 100%;
        margin: 0;
    }
    .user-chat {
        width: 60%;
    }
    .tokens {
        margin-left: 250px;
    }
    .profile-pic {
        width: 50px;
        height: 50px;
    }
    .settings-modal {
        width: 90%;
        font-size: 1.5em;
        height: 800px;
        top: 30%;
        transform: translateX(-50%);
    }
    .btn {
        transform: scale(1.5);
        margin-top: 20px;
    }
    .settings {
        display: flex;
        flex-direction: column;
    }
    .value-label {
        margin-top: 20px;
    }
    .slider {
        margin: 10px 0;
    }
    select {
        margin-top: 10px;
        font-size: 0.75em;
        padding: 7px;
    }
    input[type='range'] {
        -webkit-appearance: none;
        width: 230px;
        height: 5px;
        background-color: #ddd;
        border-radius: 5px;
        outline: none;
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background-color: #333;
        border-radius: 50%;
        cursor: pointer;
    }

    input[type='range']::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background-color: #333;
        border-radius: 50%;
        cursor: pointer;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        background-color: #ddd;
        border-radius: 5px;
    }

    input[type='range']::-moz-range-track {
        height: 5px;
        background-color: #ddd;
        border-radius: 5px;
    }
}
